<html lang="vi" translate="no">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>[FUTA Bus Lines] - Xác nhận thanh toán vé xe thành công (Đặt vé online - {{booking_code}})</title>
   </head>
   <body style="background-color: #ff6600; font-family: Arial, sans-serif; margin: 0; padding: 20px">
      <div style="padding: 0px 25px; font-family: arial, sans-serif; font-size: 14px; line-height: 24px">
         <div style="border-radius: 5px; background-color: #fff; max-width: 600px; margin: 0 auto">
            <div style="padding: 20px 10px; text-align: center">
               <img
                  src="https://res.cloudinary.com/dkhkjaual/image/upload/v1733205068/Bus_Lines_817c989817_jtr9hg.png"
                  alt="logo"
                  width="300px"
                  class="CToWUd"
                  data-bit="iit"
               />
            </div>
            <div>
               <img
                  src="https://res.cloudinary.com/dkhkjaual/image/upload/v1733204232/Picture1_v1n3zy.png"
                  alt="divider"
                  width="100%"
                  style="max-height: 70px"
                  class="CToWUd"
                  data-bit="iit"
               />
            </div>
            <div style="padding: 5px 25px">
               <div
                  style="
                     color: #8a6d3b;
                     background-color: #fcf8e3;
                     padding: 15px;
                     border: 1px solid #faebcc;
                     border-radius: 4px;
                     font-family: Arial, sans-serif;
                     font-weight: bold;
                     font-size: 13px;
                     line-height: 16px;
                     text-align: center;
                  "
               >
                  <p style="margin: 0; margin-bottom: 5px">
                     Quý khách vui lòng không phản hồi về địa chỉ email này vì chúng tôi sẽ không nhận được. Để gửi phản
                     hồi, quý khách vui lòng gửi vào email
                     <a href="mailto:support@futabus.vn" target="_blank">support@futabus.vn</a>. FUTA Bus Lines chỉ tiếp
                     nhận và xử lý các yêu cầu từ cuộc gọi và email của quý khách trong giờ làm việc.
                  </p>
                  <p style="margin: 0">Xin cảm ơn quý khách!</p>
               </div>
               <div
                  style="
                     font-family: Helvetica, Arial, sans-serif;
                     font-weight: bold;
                     font-size: 18px;
                     color: #00613d;
                     text-align: center;
                     padding: 10px 0;
                  "
               >
                  Cảm ơn quý khách
                  <strong style="color: #ff6600">{{name}}</strong>!
               </div>
               <p style="font-size: 12px; margin: 5px 0">
                  Cảm ơn quý khách đã tin tưởng sử dụng dịch vụ của
                  <a href="https://futabus.vn" target="_blank">FUTA Bus Lines</a>.
               </p>
            </div>
            <div>
               <img
                  src="https://res.cloudinary.com/dkhkjaual/image/upload/v1733204232/Picture1_v1n3zy.png"
                  alt="divider"
                  width="100%"
                  style="max-height: 70px"
                  class="CToWUd"
                  data-bit="iit"
               />
            </div>
            <div style="font-size: 12px; line-height: 16px; color: #000; padding: 10px 25px">
               <div
                  style="
                     font-family: Helvetica, Arial, sans-serif;
                     font-weight: bold;
                     font-size: 18px;
                     color: #ff6600;
                     text-align: center;
                     padding: 10px 0;
                  "
               >
                  Hướng dẫn các bước nhận vé và lên xe
               </div>
               <ul style="padding-left: 28px; list-style-type: circle">
                  <li>
                     Quý khách vui lòng đến điểm đón
                     <b>trước ít nhất 30 PHÚT</b>
                     (đối với ngày thường) hoặc
                     <b>60 PHÚT</b>
                     (đối với ngày Lễ Tết)
                     <b>để in vé giấy/đổi vé giấy (nếu có) và làm thủ tục lên xe</b>.
                  </li>

                  <li>
                     Quý khách vui lòng
                     <b>cung cấp số điện thoại chính xác</b>
                     và
                     <b>giữ điện thoại luôn mở</b>
                     để tài xế/nhân viên nhà xe có thể liên lạc được.
                  </li>
               </ul>
            </div>
            <div>
               <img
                  src="https://res.cloudinary.com/dkhkjaual/image/upload/v1733204232/Picture1_v1n3zy.png"
                  alt="divider"
                  width="100%"
                  style="max-height: 70px"
                  class="CToWUd"
                  data-bit="iit"
               />
            </div>
            <table cellspacing="0" style="border-spacing: 0px; color: #000">
               <tbody>
                  <tr>
                     <td style="padding: 10px 40px">
                        <div>
                           <p
                              style="
                                 font-weight: bold;
                                 font-size: 18px;
                                 color: #ff6600;
                                 text-align: center;
                                 margin: 0;
                                 padding: 5px 0;
                              "
                           >
                              Chính sách nhà xe
                           </p>

                           <div>
                              <p><strong>1. Yêu cầu khi lên xe</strong></p>
                              <ul>
                                 <li>
                                    Có mặt tại văn phòng/quầy vé/bến xe trước
                                    <b><u style="color: red">30</u></b>
                                    phút để làm thủ tục lên xe
                                 </li>

                                 <li>Đổi vé giấy trước khi lên xe</li>

                                 <li>Xuất trình SMS/Email đặt vé trước khi lên xe</li>

                                 <li>Không mang đồ ăn, thức ăn có mùi lên xe</li>

                                 <li>Không hút thuốc, uống rượu, sử dụng chất kích thích trên xe</li>

                                 <li>Không mang các vật dễ cháy nổ lên xe</li>

                                 <li>Không vứt rác trên xe</li>

                                 <li>Không làm ồn, gây mất trật tự trên xe</li>

                                 <li>Không mang giày, dép trên xe</li>
                              </ul>
                           </div>

                           <div>
                              <p><strong>2. Hành lý xách tay</strong></p>
                              <ul>
                                 <li>
                                    Tổng trọng lượng hành lý không vượt quá
                                    <b><u style="color: red">10</u></b>
                                    kg
                                 </li>

                                 <li>Không vận chuyển hàng hóa cồng kềnh</li>
                              </ul>
                           </div>

                           <div>
                              <p><strong>3. Trẻ em và phụ nữ có thai</strong></p>
                              <ul>
                                 <li>
                                    Trẻ em dưới
                                    <b><u style="color: red">3</u></b>
                                    tuổi hoặc dưới
                                    <b><u style="color: red">100</u></b>
                                    cm được miễn phí vé nếu ngồi cùng ghế/giường với bố mẹ
                                 </li>

                                 <li>
                                    Trẻ em từ
                                    <b><u style="color: red">3</u></b>
                                    tuổi hoặc cao từ
                                    <b><u style="color: red">100</u></b>
                                    cm trở lên mua vé như người lớn
                                 </li>

                                 <li>Phụ nữ có thai cần đảm bảo sức khỏe trong suốt quá trình di chuyển</li>

                                 <li>
                                    Nhà xe có quyền từ chối phục vụ nếu hành khách không tuân thủ quy định về trẻ em và
                                    phụ nữ có thai
                                 </li>
                              </ul>
                           </div>

                           <div>
                              <p><strong>4. Động vật cảnh/Thú cưng</strong></p>
                              <ul>
                                 <li>Nhà xe không nhận chở động vật cảnh/thú cưng</li>
                              </ul>
                           </div>

                           <div>
                              <p><strong>5. Xuất hóa đơn GTGT</strong></p>
                              <ul>
                                 <li>Nhà xe không cung cấp hoá đơn GTGT</li>
                              </ul>
                           </div>

                           <div>
                              <p><strong>6. Gửi xe đạp/xe máy</strong></p>
                              <ul>
                                 <li>Nhà xe không nhận gửi kèm xe đạp/xe máy.</li>
                              </ul>
                           </div>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div>
               <img
                  src="https://res.cloudinary.com/dkhkjaual/image/upload/v1733204232/Picture1_v1n3zy.png"
                  alt="divider"
                  width="100%"
                  style="max-height: 70px"
                  class="CToWUd"
                  data-bit="iit"
               />
            </div>
            <div
               style="
                  max-width: 600px;
                  margin: 0 auto;
                  background: #fff;
                  border-radius: 8px;
                  overflow: hidden;
                  padding: 10px 25px;
               "
            >
               <div style="background-color: #fff; border: 1px solid #ff6600; border-radius: 8px">
                  <div
                     style="
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        background-color: #ff6600;
                        width: 100%;
                     "
                  >
                     <table style="width: 100%">
                        <tbody>
                           <tr>
                              <td style="width: 100%">
                                 <div style="float: left; padding: 5px">
                                    <img
                                       src="https://res.cloudinary.com/dkhkjaual/image/upload/v1733205068/Bus_Lines_817c989817_jtr9hg.png"
                                       alt="vexere.com"
                                       height="40px"
                                       class="CToWUd"
                                       data-bit="iit"
                                    />
                                 </div>
                                 <div
                                    style="
                                       float: right;
                                       width: 300px;
                                       color: #ffffff;
                                       font-size: 1.2em;
                                       font-weight: bold;
                                       text-align: right;
                                       padding: 10px 5px;
                                    "
                                 >
                                    <span> MÃ ĐƠN ĐẶT VÉ: </span>
                                    <span style="color: #ffffff">#{{booking_code}}</span>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <div class="ticket-section" style="padding: 0px 10px">
                     <h3 style="font-size: 1.7em; color: #ff6600; text-align: center; margin: 10px 0">
                        Thông tin đơn đặt vé
                     </h3>
                     <table
                        style="
                           width: 100%;
                           vertical-align: text-top;
                           font-size: 13px;
                           color: #000;
                           line-height: 20px;
                           font-family: Arial, sans-serif;
                        "
                     >
                        <tbody>
                           <tr style="vertical-align: top">
                              <td style="width: 35%; padding: 5px">Đơn vị/Nhà xe/Văn phòng:</td>
                              <td style="width: 65%; padding: 5px">
                                 <b>FUTA BUS LINES</b>
                              </td>
                           </tr>

                           <tr style="vertical-align: top">
                              <td style="width: 35%; padding: 5px">Ngày đặt:</td>
                              <td style="width: 65%; padding: 5px">
                                 <b>{{ngay_dat}}</b><br />
                                 <br />
                              </td>
                           </tr>

                           <tr style="vertical-align: top">
                              <td style="width: 35%; padding: 5px">Điểm đón:</td>
                              <td style="width: 65%; padding: 5px">
                                 <b>{{diem_don}}</b><br />
                                 <br />
                              </td>
                           </tr>

                           <tr style="vertical-align: top">
                              <td style="width: 35%; padding: 5px">Giờ đón (dự kiến):</td>
                              <td style="width: 65%; padding: 5px">
                                 <b>{{gio_don}}</b>
                              </td>
                           </tr>

                           <tr style="vertical-align: top">
                              <td style="width: 35%; padding: 5px">Điểm trả:</td>
                              <td style="width: 65%; padding: 5px">
                                 <b>{{diem_tra}}</b><br />
                                 <br />
                              </td>
                           </tr>
                           <tr style="vertical-align: top">
                              <td style="width: 35%; padding: 5px">Số ghế/giường:</td>
                              <td style="width: 65%; padding: 5px">
                                 <p style="padding-bottom: 8px; margin: 0px">
                                    <strong>{{ghe}}.</strong>
                                    <br />
                                    <strong style="color: #ff6600">{{gia_ve}}</strong>
                                    x 1/Vé.<br />
                                 </p>
                              </td>
                           </tr>
                           <tr style="vertical-align: top">
                              <td style="width: 35%; padding: 5px">Loại xe:</td>
                              <td style="width: 65%; padding: 5px">
                                 <strong>Loại {{loai_xe}}</strong>
                              </td>
                           </tr>
                           <tr style="vertical-align: top">
                              <td style="width: 35%; padding: 5px">Tuyến:</td>
                              <td style="width: 65%; padding: 5px"><b>{{tuyen_xe}}</b><br /></td>
                           </tr>
                           <tr style="vertical-align: top; font-size: 16px; font-weight: bold">
                              <td style="width: 35%; padding: 10px 5px; color: #00613d">Tổng tiền:</td>
                              <td style="width: 65%; padding: 10px 5px; color: #00613d">{{tong_tien}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <hr
                     style="
                        display: block;
                        margin-block-start: 0.5em;
                        margin-block-end: 0.5em;
                        margin-inline-start: auto;
                        margin-inline-end: auto;
                        unicode-bidi: isolate;
                        overflow: hidden;
                        border-style: inset;
                        border-width: 1px;
                        width: 95%;
                     "
                  />
                  <div class="ticket-section" style="padding: 0px 10px">
                     <h3 style="font-size: 1.7em; color: #ff6600; text-align: center; margin: 10px 0">
                        Thông tin hành khách
                     </h3>
                     <table
                        style="width: 100%; vertical-align: text-top; font-size: 13px; color: #000; line-height: 15px"
                     >
                        <tbody>
                           <tr>
                              <td style="width: 35%; padding: 5px">Họ tên:</td>
                              <td style="width: 65%; padding: 5px">
                                 Anh/Chị
                                 <b>{{name}}</b>
                              </td>
                           </tr>
                           <tr>
                              <td style="width: 35%; padding: 5px">Điện thoại:</td>
                              <td style="width: 65%; padding: 5px">
                                 <b>{{phone}}</b>
                              </td>
                           </tr>
                           <tr>
                              <td style="width: 35%; padding: 5px">Email:</td>
                              <td style="width: 65%; padding: 5px">
                                 <b><a href="mailto:{{email}}" target="_blank">{{email}}</a></b>
                              </td>
                           </tr>
                           <tr>
                              <td style="width: 35%; padding: 5px">Hình thức T.T:</td>
                              <td style="width: 65%; padding: 5px">
                                 <b>Đặt vé Online</b>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="2" style="width: 100%; padding: 10px 5px; text-align: center">
                                 <img
                                    src="https://ci3.googleusercontent.com/meips/ADKq_NZg4kMOo6qYPjqINxie_RCZD_S_b5h0WTD1P5VSJovy40m_U4WIj_FpgWSh9BEZMSQlAslzAL2h9upZw-0DHLHWbhK-Ag=s0-d-e1-ft#https://static.vexere.com/images/paid-stamp.png"
                                    alt="đã thanh toán"
                                    width="184px"
                                    class="CToWUd"
                                    data-bit="iit"
                                 />
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <hr
                     style="
                        display: block;
                        margin-block-start: 0.5em;
                        margin-block-end: 0.5em;
                        margin-inline-start: auto;
                        margin-inline-end: auto;
                        unicode-bidi: isolate;
                        overflow: hidden;
                        border-style: inset;
                        border-width: 1px;
                        width: 95%;
                     "
                  />
                  <div style="text-align: center; margin: 10px 0px">
                     <a
                        href="{{link_ticket}}"
                        style="
                           margin: 5px;
                           border: 2px solid #ffdd00;
                           border-radius: 5px;
                           font-weight: bold;
                           font-size: 1.2em;
                           background-color: #ffdd00;
                           color: #000;
                           padding: 8px 16px;
                           display: inline-block;
                           vertical-align: middle;
                           overflow: hidden;
                           text-decoration: none;
                           text-align: center;
                           white-space: nowrap;
                        "
                        target="_blank"
                        data-saferedirecturl="{{link_ticket}}"
                     >
                        Xem thông tin vé tại đây
                     </a>
                     <a
                        href="{{link_booking}}"
                        style="
                           border: 0.5px solid #ffdd00;
                           border-radius: 5px;
                           font-size: 1.2em;
                           background-color: #ffffff;
                           color: #000;
                           text-decoration: none;
                           margin: 5px;
                           display: inline-block;
                           padding: 8px 16px;
                           vertical-align: middle;
                           overflow: hidden;
                           text-align: center;
                           white-space: nowrap;
                        "
                        target="_blank"
                        data-saferedirecturl="{{link_booking}}"
                     >
                        Đặt vé khác
                     </a>
                  </div>
                  <div
                     style="
                        background-color: #ff6600;
                        color: #ffffff;
                        line-height: 24px;
                        padding: 5px 15px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        font-size: 12px;
                     "
                  >
                     <table style="width: 100%">
                        <tbody>
                           <tr>
                              <td style="width: 100%; color: #fff">
                                 <div style="float: left">
                                    <span>Hotline: 1900 969681</span>
                                 </div>
                                 <div style="float: right">
                                    <span>E-Ticket - Futabusline.com (09:34 25/04/2024)</span>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div>
               <img
                  src="https://res.cloudinary.com/dkhkjaual/image/upload/v1733204232/Picture1_v1n3zy.png"
                  alt="divider"
                  width="100%"
                  style="max-height: 70px"
                  class="CToWUd"
                  data-bit="iit"
               />
            </div>
            <div style="padding: 10px 25px; font-size: 12px; text-align: justify; color: #000">
               <p style="margin: 5px 0">
                  <a href="https://futabus.vn" target="_blank">FUTA Bus Lines</a>
                  xin cảm ơn quý khách và rất mong sẽ được phục vụ mọi nhu cầu di chuyển của quý khách trong tương lai.
                  Quý khách vui lòng đọc kỹ các quy định và điều khoản của FUTA Bus Lines
                  <a href="https://futabus.vn/quy-dinh" target="_blank">tại đây</a>. Trong trường hợp cần được hỗ trợ
                  trực tiếp về các vấn đề hủy vé, đổi vé, hủy chuyến,... xin vui lòng liên hệ dịch vụ chăm sóc khách
                  hàng của chúng tôi:
               </p>

               <div style="padding-left: 15px">
                  <b>Công ty Cổ phần Xe khách Phương Trang - FUTA Bus Lines:</b><br />
                  <ol style="margin: 5px 0">
                     <li>
                        <span>Miền Bắc: 55B Quốc lộ 1A, Phường Linh Xuân, Quận Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam.</span><br
                        />
                        <span>Giờ làm việc: <b>7:00 - 21:00</b></span>
                     </li>
                     <li>
                        <span>Miền Nam: Số 468-468B Võ Văn Kiệt, Phường Cầu Kho, Quận 1, Tp. Hồ Chí Minh, Việt Nam.</span><br
                        />
                        <span>Giờ làm việc: <b>6:00 - 22:00</b></span>
                        <span>Hotline: <a href="tel:1900%20606778" target="_blank">1900 606778</a></span>
                     </li>
                  </ol>
                  Email:
                  <a href="mailto:support@futabus.vn" target="_blank">support@futabus.vn</a>
                  <br />
                  <p style="margin: 5px 0">
                     FUTA Bus Lines đang tuyển dụng nhiều vị trí tại:
                     <a href="https://futabus.vn/tuyen-dung" target="_blank">https://futabus.vn/<wbr />tuyen-dung</a>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>